#products {
  display: flex;
  width: 100%;
  margin: auto;
  margin-top: 2rem;
  justify-content: space-evenly;
}

.card-footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 50%;
}

.product-buttons {
  width: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

#alert {
  width: 30%;
  margin: auto;
  margin-top: 1rem;
  background-color: darkmagenta;
  color: beige;
  z-index: 10;
}