* {
  border-radius: 5px;
}

#forms {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10%;
}

.cart-forms {
  display: flex;
  flex-direction: column;
  border: 3px solid navy;
  padding: 1rem;
}