header {
  border: 3px solid navy;
  margin: 2rem auto;
  padding: 0 2rem;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#cart {
  display: flex;
  align-items: center;
}

#store-front {
  width: 40%;
  border: 3px solid firebrick;
  border-radius: 5px;
  margin-top: 2rem;
}