footer {
  display: flex;
  width: 75%;
  justify-content: space-between;
  margin: auto;
  height: 5rem;
  margin-top: 25%;
}

#me:hover {
  color: darkred;
  cursor: pointer;
}

#links {
  display: flex;
  width: 25%;
  justify-content: space-evenly;
}